<section class="container">
  <main>
    <h1>Upload a picture to get a prediction!</h1>
    <form action="/">
      <input type="file" name="image" id="image" style="display: none" />
      <label for="image" class="upload-image-btn">Upload</label>
    </form>
    <div class="stack-images">
      <!-- 2, 1, 0, 1, 2 -->

      <img
        #firstCard
        src="/assets/mri.jpg"
        alt="MRI image"
        class="first-card card-image"
        data-position="0"
      />
      <img
        #secondCard
        src="/assets/mri2.jpg"
        alt="MRI image"
        class="second-card card-image"
        data-position="1"
      />
      <img
        #topCard
        src="/assets/mri3.png"
        alt="MRI image"
        class="top-card card-image"
        data-position="2"
      />
      <img
        #thirdCard
        src="/assets/mri4.jpg"
        alt="MRI image"
        class="third-card card-image"
        data-position="3"
      />
      <img
        #fourthCard
        src="/assets/mri5.jpg"
        alt="MRI image"
        class="fourth-card card-image"
        data-position="4"
      />
    </div>
  </main>
</section>
