<div class="blank-page">
  <nav class="navbar">
    <h3>Tumor Classification</h3>
    <a
      href="https://github.com/Invisiblebrush7/tumor-frontend-v2"
      target="_blank"
    >
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </nav>
  <div class="hero-image">
    <img src="/assets/ambulance.jpg" alt="hero-image" />
    <div class="black-filter"></div>
    <div class="text-content">
      <h1>Deep Diagnostics</h1>
      <h3>
        Harnessing AI to Detect Tumors in <br />
        MRI Images
      </h3>
      <button [routerLink]="'predict'" class="try-it-out-btn" mat-raised-button>
        Try now
      </button>
    </div>
  </div>

  <section class="about-our-path">
    <h2>The path we followed</h2>
    <h4>
      As a team of Data Scientists, we are going through <br />
      this development cycle everyday
    </h4>
    <div class="steps">
      <div class="column-icon">
        <fa-icon class="red" [icon]="faDatabase"></fa-icon>
        <h4>Data Gathering and Cleaning</h4>
        <p>We managed to get 7,000+ images of MRI scans</p>
      </div>
      <div class="column-icon middle-one">
        <fa-icon class="green" [icon]="faComputer"></fa-icon>
        <h4>Model Training</h4>
        <p>We spent hours just to know how good the model was</p>
      </div>
      <div class="column-icon">
        <fa-icon class="blue" [icon]="faCloudArrowUp"></fa-icon>
        <h4>Cloud Deployment</h4>
        <p>We deployed our model and web app to the public!</p>
      </div>
    </div>
  </section>
  <section class="about-our-model">
    <h2>About our model</h2>
    <h4>
      We decided to give this name to our model for <br />
      obvious reasons
    </h4>
    <div class="black-box">
      <img src="/assets/robot.jpg" alt="Robot image" />
      <div class="text-content">
        <h3><u>Alberto Is Cool</u> model</h3>
        <ol>
          <li>Has 7,000,000+ trainable parameters</li>
          <li>Took 7+ hours to fully train</li>
          <li><b>Is cool</b></li>
          <button
            [routerLink]="'predict'"
            class="try-it-out-btn"
            mat-raised-button
          >
            Try now
          </button>
        </ol>
      </div>
    </div>
  </section>
  <section class="about-tumors">
    <h2>More about tumors</h2>
    <h4>
      We are mainly classifying 3 types of tumors <br />
      in our heads!
    </h4>
    <div class="tumors-grid">
      <img
        src="/assets/tumors_home_page/glioma.jpg"
        alt="Glioma tumor mri scan"
      />
      <div class="text-content">
        <h3>Glioma</h3>
        <p>
          Glioma is a growth of cells that starts in the brain or spinal cord.
          The cells in a glioma look similar to healthy brain cells called glial
          cells. Glial cells surround nerve cells and help them function. As a
          glioma grows it forms a mass of cells called a tumor
        </p>
      </div>
      <div class="text-content">
        <h3>Meningioma</h3>
        <p>
          A meningioma is a tumor that arises from the meninges — the membranes
          that surround the brain and spinal cord. Although not technically a
          brain tumor, it is included in this category because it may compress
          or squeeze the adjacent brain, nerves and vessels.
        </p>
      </div>
      <img
        src="/assets/tumors_home_page/meningioma.jpg"
        alt="Meningioma tumor mri scan"
      />
      <img
        src="/assets/tumors_home_page/pituitary.jpg"
        alt="Pituitary tumor mri scan"
      />
      <div class="text-content">
        <h3>Pituitary</h3>
        <p>
          Pituitary tumors are unusual growths that develop in the pituitary
          gland. This gland is an organ about the size of a pea. It's located
          behind the nose at the base of the brain. Some of these tumors cause
          the pituitary gland to make too much of certain hormones that control
          important body functions. Others can cause the pituitary gland to make
          too little of those hormones.
        </p>
      </div>
    </div>
  </section>
  <section class="try-it-now">
    <h2>Try it now!</h2>
    <h4>
      Upload an MRI scan and find out which <br />
      kind of tumor is!
    </h4>
    <button [routerLink]="'predict'" class="try-it-out-btn" mat-raised-button>
      Try now
    </button>
  </section>
  <footer>
    <h3>Tumor Classification</h3>
    <h3>Dream Team 🔥</h3>
  </footer>
</div>
