section.container {
  margin: 3rem auto 0 auto;
  width: 80%;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      margin-bottom: 3rem;
    }

    label.upload-image-btn {
      cursor: pointer;
      padding: 1rem 4rem;
      background-color: #3f51b5;
      border-radius: 15px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      color: white;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
        padding: 1.1rem 4.1rem;
      }
    }
    .stack-images {
      position: relative;
      margin: 5rem auto 0 auto;
      min-height: 300px;
      transition: all 300ms ease-in-out;
    }
    img {
      height: 200px;
      aspect-ratio: 1;
      filter: grayscale(1);
    }
    .card-image {
      border-radius: 15px;
    }
    .first-card {
      left: calc(-20rem - 100px);
      z-index: 1;
    }
    .second-card {
      left: calc(-10rem - 100px);
      z-index: 2;
    }
    .top-card {
      position: absolute;
      top: 0;
      left: -100px;
      z-index: 5;
      box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
      transition: all 300ms ease-in-out;
      transform: scale(1.1);
    }
    .third-card {
      left: calc(10rem - 100px);
      z-index: 2;
    }
    .fourth-card {
      left: calc(20rem - 100px);
      z-index: 1;
    }

    .first-card,
    .second-card {
      box-shadow: -10px 1px 10px rgb(0, 0, 0);
      position: absolute;
      transition: all 300ms ease-in-out;
    }
    .third-card,
    .fourth-card {
      box-shadow: 10px 1px 10px rgb(0, 0, 0);
      position: absolute;
      transition: all 300ms ease-in-out;
    }
  }
}
