<mat-toolbar class="navbar">
  <p routerLink="/">Tumor Classification</p>
</mat-toolbar>

<section class="container">
  <button (click)="testApi($event)" mat-raised-button color="primary">
    Test API
  </button>

  <main>
    <h1>Upload a picture to get a prediction!</h1>
    <form action="/">
      <input
        #imageInput
        type="file"
        name="image"
        accept="image/*"
        id="image"
        style="display: none"
      />
      <label for="image" class="upload-image-btn">Upload</label>
      <p *ngIf="this.imageUploaded && !this.prediction">
        <b>Predicting your results...</b>
      </p>
      <p *ngIf="this.prediction">
        <b>{{ this.prediction }}</b>
      </p>
    </form>
    <div class="stack-images gradient-border">
      <img
        #firstCard
        src="/assets/mri.jpg"
        alt="MRI image"
        class="first-card card-image big-card"
        data-position="0"
      />
      <img
        #secondCard
        src="/assets/mri2.jpg"
        alt="MRI image"
        class="second-card card-image big-card"
        data-position="1"
      />
      <img
        #topCard
        src="/assets/mri3.png"
        alt="MRI image"
        class="top-card card-image big-card"
        data-position="2"
      />
      <img
        #thirdCard
        src="/assets/mri4.jpg"
        alt="MRI image"
        class="third-card card-image big-card"
        data-position="3"
      />
      <img
        #fourthCard
        src="/assets/mri5.jpg"
        alt="MRI image"
        class="fourth-card card-image big-card"
        data-position="4"
      />
      <div
        [ngClass]="
          this.animationFinished
            ? 'content-description'
            : 'content-description-none-displayed'
        "
      >
        <h2>Meningioma Tumor</h2>
        <p>
          A meningioma is a tumor that arises from the meninges — the membranes
          that surround the brain and spinal cord. Although not technically a
          brain tumor, it is included in this category because it may compress
          or squeeze the adjacent brain, nerves and vessels.
        </p>
      </div>
    </div>
  </main>
</section>
